.parent {
    background-color: black;
    height: 100%;
    width: 420px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
  }
  
  .child_1 {
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: black;
    height:60px;
    width:100%;
  }
  
  .child_2 {
    display:flex;
    justify-content:flex-end;

    background-color: black;
    height: 100%;
    width: 100%;
  }
  .child_3 {
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color: black;
    height: 60px; 
    width: 100%;
  }
  
  .long {
    background-color: orange;
    margin: 3px;
    width: 100%;
    height: 30px;
  }
  
  .child_1_1 {
    display: flex;
    justify-content:flex-start;
    align-items:center;
    /* background-color: black; */
    width: 100%;
  }
  
  .child_1_2 {
    display: flex;
    justify-content:center;
    align-items:center;
    /* background-color: black; */
    width: 100%;
  }
  
  .child_1_3 {
    /* background-color: black; */
    display: flex;
    justify-content:flex-end;
    align-items:center;
    width: 100%;
  }
  
  .button_container {
    display:flex;
    justify-content: center;
    align-items:center;
    background-color: blueviolet;
    margin: 3px;
    width: 30px;
    height: 30px;

  }
  
  .demo_button_sp {
    display:flex;
    justify-content: center;
    align-items:center;
    margin-left: auto;
    margin-right: 3px;
    width: 30px;
    height: 30px;
  }
  
  .child_2_1 {
    position: relative;
    height: 100%;
    width: 100%;
    margin-left:40px;
    margin-bottom:33px;
  }
  
  .child_2_2 {
    background-color: yellow;
    width: 40px;
    display:flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items:center;
  }
  
  .child_3_0 {
    height: 30px;
    width: 30px;
    background-color: black;
    /* margin-left: 20%; */
  }
  
  .child_3_1 {
    color: darkgray;
    display:flex;
    background-color: black;
    /* margin-left: 20%; */
  }