.contactWrapper {
   display: flex;
   padding: 13px;
   width: 100%;
   max-height: 97px;
   overflow: hidden;
   
  }

.name {
    font-size: 2.3ch;
    text-align: left;

  }

.recentSms{
  font-size: 1.8ch;
  text-align: left;
  word-break: keep-all;
  word-wrap: normal;
  max-height: 27px;
  }

  .textWrapper{
      display:flex;
      flex-direction: column;
      overflow: hidden;
      margin: 7px;
}

.circle {
    height: 55px;
    width: 55px;
    min-width: 55px;
    border-radius: 50%;
    margin :7px;
    font-family: inherit;
    font-size: x-large;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

  }