.speech-bubble {
	position: relative;
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	top: 50%;
	width: 0;
	height: 0;
	border: 23px solid transparent;
	border-top: 0;
	margin-top: -11.5px;
}

.q {
	background: darkorchid;
	margin: 2px 4px 2px auto;
	text-align: right;

}

.q:after {
	right: 0;
	border-left-color: darkorchid;
	border-right: 0;
	margin-right: -18px;
}

.a {
	background: lightslategray;
	margin: 2px auto 2px 4px;
	text-align: left;


}

.a:after {
	left: 0;
	border-right-color: lightslategray;
	border-left: 0;
	margin-left: -18px;
}


p {
  margin: 8px;
  word-wrap: break-word;}