.q-speec-bubble-wrapper {
	margin: 3px 15px 3px auto;
	overflow-anchor: none;
}

.a-speec-bubble-wrapper {
	margin: 3px auto 3px 15px;
	overflow-anchor: none;
}

.speech-bubble {
	position: relative;
	border-radius: .4em;
	max-width: 100%;
	padding: 2px 7px;
	text-align: left;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	top: 50%;
	width: 0;
	height: 0;
	border: 14px solid transparent;
	border-bottom: 0;
	margin-top: -7px;
}

.q {
	background: rgb(107, 187, 147);
}

.q:after {
	right: 0;
	border-left-color: rgb(107, 187, 147);
	border-right: 0;
	margin-right: -14px;
}

.a {
	background: rgb(195, 207, 199);
}

.a:after {
	left: 0;
	border-right-color: rgb(195, 207, 199);
	border-left: 0;
	margin-left: -14px;
}

p {
  word-wrap: break-word;
  word-break: break-word;
  max-width: 100%;
  font-size: x-large;
  font-family: "Gill Sans", sans-serif;
  margin: 1px 5px 2px;
}